body {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    min-height: 1020px;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

hr {
    background-color: Gainsboro;
    margin-bottom: 12px;
    opacity: 0.7;
}

#headpic {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto;
    margin: 30px;
    margin-bottom: 228px;
    border-radius: 30px;
}

#headpic:hover {
    opacity: 0.5;
    transition: 0.5s;
}

#headpic:hover img {
    margin-top: -24px;
    transition: 0.5s;
}

#headpic:hover label {

    margin-top: 24px;
    transition: 0.5s;
}

#headpic label {
    position: absolute;
    font-weight: bold;
    font-size: 24px;
}

input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    height: 240px;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    height: 84px;
    width: 100%;
    background-color: Blue;
    z-index: 5;
}

nav div {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 3%;
    margin-top: -18px;
}

nav h1 {
    color: white;
    font-size: 30px;
}

nav p {
    margin-top: -27px;
    color: white;
    font-size: 18px;
    font-style: italic;
}

nav img {
    position: absolute;
    right: 0;
    margin-right: 3%;
    margin-top: 12px;
    height: 60px;
    width: 60px;
}

nav img:hover {
    filter: brightness(115%);
    transition: 0.75s;
    cursor: pointer;
}

main {
    margin-top: 9%;
    width: 100%;
    height: auto;
    margin auto;
    display: flex;
    flex-direction: column;
}

@media screen and(min-width: 768px) {
    main {
        margin-top: 18%!important;
    }
}

form {
    margin: auto;
    padding: auto;
    display: block;
    }

input {
    display: block;
    min-width: 300px;
    width: 100%;
    max-width: 600px;
    height: 30px;
    margin-top: 3%; margin-bottom: 3%;
}

form div {
    display: flex;
    width: 100%;
    margin-top: 7.5%;
}

    form button {
    flex-direction: row;
    text-decoration:none;
    text-align: center;
    color: white;
    background-color: Blue;
    border: 1px solid Blue;

    padding-top: 1.5px;
    flex: 50%;
    font-size: 18px;
    height: 42px;
    margin-left: 2.25%; margin-right: 0%;
    border-radius: 6px;
    cursor: pointer;
}

form button:first-of-type {
    margin-left: 0%; margin-right: 2.25%;
}

form div a:hover, form button:hover {
    background-color: white;
    color: Blue;
    border: 1px solid Blue;
    transition: 0.75s;
}


table {
    margin: auto;
    margin-top: 84px;
    width: 100%;
    padding: 0%;
    border-collapse: collapse;
}

tr {
    width: 100%;
    height: 84px;
    background-color: Gainsboro;
}

tr:nth-child(even) {
background-color: white;
}

th {
    text-align: left;
    background: DimGray;
    color: white;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

td, th {
    width: 20%;
    height: 60px;
    padding-left: 3%;
}

td a {
    display:block;
    padding-top: 3%; padding-bottom: 3%;
    padding-left: 4.5%; padding-right: 4.5%;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    border: 1px solid silver;
    color: DimGray;
    font-size: 16px;
    text-decoration: none;
    width: 228px;

}

td a:hover {
    background-color: DimGray;
    border: 1px solid DimGray;
    color: white;
    transition: 0.75s;
}

#data {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.backbutton {
    position: absolute;
    height: 60px;
    width: 84px;
    right: 12;
}

    .plus {
    height: 48px;
    width: 48px;
    background-color: Blue;
    border: 1px solid Blue;
    border-radius: 50px;
    border: none;
    margin-right: 60%;
    float: right;
}

    .plus span:first-of-type {
    display: block;
    border-radius: 3px;
    background: White;
    width: 5px;
    height: 24px;
    margin: 6px;
    margin-left: 9.75px;
}

    .plus span:last-of-type {
        display: block;
        border-radius: 3px;
        background: White;
        width: 24px;
        height: 5px;
        margin: 6px;
        margin-left: 0.25px;
        margin-top: -20.25px;
    }

    .plus:hover {
        background-color: White;
        border: 1px solid Blue;
        transition: 0.75s;
    }

    .plus:hover span {
        background-color: Blue;
        transition: 0.75s;
    }

    .inactive {
        display: none;
    }